<h1>This is the secret page</h1>

<p>You found me</p>

<img src="https://www.campsitephotos.com/photo/camp/19931/feature_Seacliff_SP-f1.jpg" alt="">


<ul>
    <li>
        <a href="/logout">Logout</a>
    </li>
</ul>